<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Search Form</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="styles.css">

</head>
<body>
<h1>Films</h1>
<h2>Search Again</h2>
<div class="searchBarContainer">
    <form action="/byPrimaryTitle" method="get">
        <input type="text" id="search-input" name="title" placeholder="Search for films" class="search-input">
        <button type="submit" id="search-btn" class="search-btn">Find</button>
        <br><br>
        <input type="radio" id="pre-1950" name="year" value="Pre-1950" class="years" checked="checked">
        <label for="pre-1950">Pre-1950</label>
        <input type="radio" id="1950-1979" name="year" value="1950-1979" class="years">
        <label for="1950-1979">1950-1979</label>
        <input type="radio" id="1980-2009" name="year" value="1980-2009" class="years">
        <label for="1980-2009">1980-2009</label>
        <input type="radio" id="2010-present" name="year" value="2010-Present" class="years">
        <label for="2010-present">2010-Present</label>
        <input type="radio" id="all" name="year" value="all" class="years">
        <label for="all">All</label>

    </form>
</div>
<div>

    <h2>Search Results</h2>
    <ul>
        <li th:each="film: ${finalFilms}">
            <span th:text="${film.tconst}" id="filmId"></span>
            <span th:text="${film.primaryTitle}"></span>
            <span th:text="${film.startYear}"></span>
            <span th:text="${film.rating}" id=rating></span>
        </li>
    </ul>


</div>
</body>
</html>
